{% extends 'base.html' %}

{% block head %}
<title>Premier League Match Predictor</title>
{% endblock %}

{% block body %}
<div class="content">
    <table>
        <tr>
            <th>Match</th>
            <th>When</th>
            <th>Rate</th>
        </tr>
        {% for match in matches %}
            <tr>
                <td>
                    {{ match['team_h'] }} vs {{ match['team_a'] }}
                </td>
                <td>
                    {{ match['kickoff_time'] }}
                </td>
                <td>
                    {{ match['rate'] }}
                </td>
            </tr>
        {% endfor %}
    </table>
    <form action="/predict" method="POST">
        <input type="text" name="predict">
        <input type="submit" value="predict">
    </form>
</div>
{% endblock %}